@media (max-width: 1200px) {
  .advantage {
    &-icons {
      &-item {
        margin-right: 85px;
        &:nth-child(1) {
          width: 80%;
        }
        &-descr {
          width: 95%;
        }
      }
    }
  }
  .catalog {
    padding-bottom: 83px;
    &-tabs {
      margin-top: 60px;
    }
    &-content {
      &-item {
        margin: 0 13px;
        margin-top: 15px;
        &:nth-child(2) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(5) {
          margin: 0 13px;
          margin-top: 15px;
        }
        .change {
          .more {
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .promo {
    &-nav {
      a {
        img {
          width: 92%;
        }
      }
      &-text {
        font-size: 11px;
        span {
          font-size: 17px;
        }
      }
      &-btn {
        a {
          font-size: 17px;
        }
        button {
          width: 147px;
          height: 29px;
        }
      }
    }
    &-header {
      font-size: 40px;
    }
    &-consult {
      button {
        width: 290px;
      }
    }
  }
  .advantage {
    &-header {
      font-size: 29px;
    }
    &-icons {
      &-item {
        margin-right: 55px;
        &:nth-child(1) {
          width: 108%;
        }
        &-descr {
          width: 100%;
        }
      }
    }
  }
  .consult {
    &-header {
      font-size: 33px;
    }
  }
}
@media (max-width: 808px) {
  .slider {
    min-height: 410px;
    &-wrapper {
      width: 90%;
      &-item {
        img {
          width: 90%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .promo {
    height: 635px;
    &-nav {
      a {
        img {
          width: 82%;
        }
      }
      &-text {
        margin-right: 30px;
        font-size: 11px;
        span {
          font-size: 13px;
        }
      }
      &-btn {
        a {
          font-size: 13px;
        }
        button {
          width: 118px;
          height: 24px;
          font-size: 10px;
        }
      }
    }
    &-header {
      font-size: 36px;
      justify-content: center;
    }
    &-subheader {
      font-size: 23px;
      justify-content: center;
    }
    &-icons {
      justify-content: center;
      align-items: flex-start;
      &-item {
        &-text {
          font-size: 12px;
        }
      }
    }
    &-consult {
      justify-content: center;
      button {
        width: 262px;
        height: 41px;
        font-size: 15px;
      }
    }
    &-catalog {
      font-size: 14px;
      a {
        font-size: 15px;
      }
    }
  }
  .advantage {
    height: 850px;
    &-header {
      font-size: 27px;
    }
    &-icons {
      flex-direction: column;
      align-items: center;
      &-item {
        margin-right: 0;
        &-descr {
          width: 80%;
        }
      }
    }
  }
  .consult {
    height: 660px;
    padding: 70px 0;
    &-header {
      font-size: 27px;
      text-align: center;
      line-height: 1.3;
    }
    &-descr {
      line-height: 1.1;
      font-size: 18px;
      text-align-last: center;
      margin-top: 55px;
    }
    form {
      align-items: center;
      margin-top: 45px;
    }
  }
}
@media (max-width: 576px) {
  .promo {
    height: 765px;
    &-nav {
      flex-direction: column;
      align-items: center;
      a {
        img {
          width: 100%;
        }
      }
      &-text {
        margin-right: 0;
        margin-top: 40px;
        font-size: 12px;
        span {
          font-size: 19px;
        }
      }
      &-btn {
        a {
          font-size: 16px;
          margin: 0 auto;
          margin-top: 40px;
        }
        button {
          width: 175px;
          height: 40px;
          font-size: 15px;
          margin-top: 8px;
        }
      }
    }
    &-header {
      font-size: 28px;
      justify-content: center;
      text-align: center;
      margin-top: 65px;
      line-height: 1.3;
    }
    &-subheader {
      margin-top: 22px;
      font-size: 19px;
      line-height: 1.2;
      justify-content: center;
      text-align: center;
    }
    &-icons {
      margin-top: 48px;
      justify-content: center;
      align-items: flex-start;
      &-item {
        margin-right: 20px;
        &-text {
          font-size: 12px;
        }
      }
    }
    &-consult {
      justify-content: center;
      button {
        margin-top: 46px;
        width: 246px;
        height: 40px;
        font-size: 14px;
      }
    }
    &-catalog {
      margin-top: 22px;
      font-size: 14px;
      a {
        font-size: 15px;
      }
    }
  }
  .advantage {
    height: 870px;
    padding: 47px 0 45px 0;
    &-header {
      font-size: 26px;
    }
    &-icons {
      margin-top: 42px;
      flex-direction: column;
      align-items: center;
      &-item {
        margin-right: 0;
        margin-top: 18px;
        &:nth-child(1) {
          margin-top: 0;
        }
        &-header {
          margin-top: 21px;
        }
        &-descr {
          margin-top: 16px;
          font-size: 14px;
          line-height: 1.3;
          width: 80%;
        }
      }
    }
  }
  .consult {
    height: 520px;
    padding: 44px 0;
    &-header {
      font-size: 24px;
      text-align: center;
      line-height: 1.3;
    }
    &-descr {
      line-height: 1.1;
      font-size: 17px;
      text-align-last: center;
      margin-top: 38px;
    }
    form {
      align-items: center;
      margin-top: 45px;
      input {
        width: 274px;
      }
      .submit {
        font-size: 14px;
        width: 274px;
      }
    }
  }
  .slider {
    min-height: 340px;
    &-wrapper {
      width: 88%;
      &-item {
        img {
          width: 88%;
        }
      }
    }
  }
  .container {
    width: 95%;
  }
}
