@media (max-width: 1429px) {
  .catalog {
    &-content {
      &-item {
        &:nth-child(3n) {
          .change {
            transform: translateX(-23%);
            .prodWrapper {
              &-active {
                transform: translateX(46%);
              }
            }
            .more {
              &-active {
                transform: translateX(-54%);
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .advantage {
    &-icons {
      &-item {
        margin-right: 85px;
        &:nth-child(1) {
          width: 80%;
        }
        &-descr {
          width: 95%;
        }
      }
    }
  }
  .catalog {
    min-height: 720px;
    padding-bottom: 73px;
    &-tabs {
      margin-top: 50px;
    }
    &-content {
      &-item {
        margin: 0 13px;
        margin-top: 15px;
        &:nth-child(2) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(3n) {
          .change {
            transform: translateX(-15%);
          }
        }
        &:nth-child(5) {
          margin: 0 13px;
          margin-top: 15px;
        }
        .change {
          width: 150%;
          .more {
            width: 50%;
            a {
              margin-top: 33px;
            }
            li {
              &::before {
                left: -17px;
              }
            }
            &-active {
              transform: translateX(-84%);
            }
          }
          .prodWrapper {
            width: 50%;
            &-active {
              transform: translateX(16%);
            }
          }
        }
        &-footer {
          margin-top: 10px;
        }
      }
    }
  }
  .review {
    &-wrapper {
      &-item {
        margin-top: 81px;
        &:nth-child(1) {
          margin-top: 60px;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .promo {
    &-nav {
      a {
        img {
          width: 92%;
        }
      }
      &-text {
        font-size: 11px;
        span {
          font-size: 17px;
        }
      }
      &-btn {
        a {
          font-size: 17px;
        }
        button {
          width: 147px;
          height: 29px;
        }
      }
    }
    &-header {
      font-size: 40px;
    }
    &-consult {
      button {
        width: 290px;
      }
    }
  }
  .advantage {
    &-header {
      font-size: 29px;
    }
    &-icons {
      &-item {
        margin-right: 55px;
        &:nth-child(1) {
          width: 108%;
        }
        &-descr {
          width: 100%;
        }
      }
    }
  }
  .consult {
    &-header {
      font-size: 33px;
    }
  }
  .catalog {
    min-height: 720px;
    padding-bottom: 73px;
    &-tabs {
      margin-top: 50px;
      &-tab {
        transition: none;
        &:hover {
          box-shadow: none;
        }
      }
      .active {
        transition: none;
        &:hover {
          box-shadow: none;
        }
      }
    }
    &-content {
      &-item {
        width: 275px;
        margin: 0 13px;
        margin-top: 15px;
        padding: 10px;
        &:nth-child(2) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(5) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(3n) {
          .change {
            transform: translateX(-13%);
          }
        }
        .change {
          width: 142%;
          .more {
            width: 50%;
            a {
              margin-top: 15px;
            }
            li {
              margin-top: 10px;
              &::before {
                left: -17px;
              }
            }
            hr {
              margin-top: 15px;
            }
            &-active {
              transform: translateX(-81%);
            }
          }
          .prodWrapper {
            width: 50%;
            img {
              height: 45%;
            }
            h2 {
              margin-top: 15px;
              font-size: 15px;
            }
            &-descr {
              margin-top: 19px;
            }
            a {
              margin-top: 13px;
            }
            hr {
              margin-top: 15px;
            }
            &-active {
              transform: translateX(19%);
            }
          }
        }
        &-footer {
          padding: 0 7px;
          margin-top: 10px;
          button {
            width: 127px;
            height: 38px;
          }
          &-price {
            &-down {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
  .review {
    &-wrapper {
      &-item {
        flex-direction: column;
        align-items: center;
        margin-top: 62px;
        &-img {
          padding-right: 0;
        }
        &-main {
          h3 {
            margin-top: 12px;
            text-align: center;
          }
          &-subheader {
            text-align: center;
          }
          &-descr {
            width: 100%;
            text-align: left;
          }
        }
        &:nth-child(1) {
          margin-top: 60px;
        }
      }
    }
  }
}
@media (max-width: 827px) {
  .slider {
    min-height: 410px;
    &-wrapper {
      width: 90%;
      &-item {
        img {
          width: 90%;
        }
      }
    }
  }
}
@media (max-width: 779px) {
  .catalog {
    &-content {
      &-item {
        .change {
          transform: translateX(-8%);
          .more {
            &-active {
              transform: translateX(-65%);
            }
          }
          .prodWrapper {
            &-active {
              transform: translateX(35%);
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .promo {
    height: 635px;
    &-nav {
      a {
        img {
          width: 82%;
        }
      }
      &-text {
        margin-right: 30px;
        font-size: 11px;
        span {
          font-size: 13px;
        }
      }
      &-btn {
        a {
          font-size: 13px;
        }
        button {
          width: 118px;
          height: 24px;
          font-size: 10px;
        }
      }
    }
    &-header {
      font-size: 36px;
      justify-content: center;
    }
    &-subheader {
      font-size: 23px;
      justify-content: center;
    }
    &-icons {
      justify-content: center;
      align-items: flex-start;
      &-item {
        &-text {
          font-size: 12px;
        }
      }
    }
    &-consult {
      justify-content: center;
      button {
        width: 262px;
        height: 41px;
        font-size: 15px;
      }
    }
    &-catalog {
      font-size: 14px;
      a {
        font-size: 15px;
      }
    }
  }
  .advantage {
    height: 850px;
    &-header {
      font-size: 27px;
    }
    &-icons {
      flex-direction: column;
      align-items: center;
      &-item {
        margin-right: 0;
        &-descr {
          width: 80%;
        }
      }
    }
  }
  .consult {
    height: 660px;
    padding: 70px 0;
    &-header {
      font-size: 27px;
      text-align: center;
      line-height: 1.3;
    }
    &-descr {
      line-height: 1.1;
      font-size: 18px;
      text-align-last: center;
      margin-top: 55px;
    }
    form {
      align-items: center;
      margin-top: 45px;
    }
  }
  .slider {
    padding: 65px 0;
  }
  .catalog {
    min-height: 720px;
    padding-bottom: 73px;
    &-header {
      font-size: 26px;
    }
    &-tabs {
      margin-top: 45px;
      li {
        width: 160px;
        height: 45px;
        line-height: 45px;
        font-size: 15px;
        div {
          width: 150px;
        }
      }
    }
    &-content {
      &-item {
        width: 275px;
        margin: 0 13px;
        margin-top: 15px;
        padding: 10px;
        &:nth-child(2) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(5) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(3n) {
          .change {
            transform: translateX(-17%);
          }
        }
        .change {
          width: 162%;
          transform: translateX(0%);
          .more {
            width: 50%;
            a {
              margin-top: 15px;
            }
            li {
              margin-top: 10px;
              &::before {
                left: -17px;
              }
            }
            hr {
              margin-top: 15px;
            }
            &-active {
              transform: translateX(-87%);
            }
          }
          .prodWrapper {
            width: 50%;
            img {
              height: 45%;
            }
            h2 {
              margin-top: 15px;
              font-size: 15px;
            }
            &-descr {
              margin-top: 19px;
            }
            a {
              margin-top: 13px;
            }
            hr {
              margin-top: 15px;
            }
            &-active {
              transform: translateX(12%);
            }
          }
        }
        &-footer {
          padding: 0 7px;
          margin-top: 0px;
          button {
            width: 127px;
            height: 38px;
          }
          &-price {
            &-down {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
  .review {
    &-wrapper {
      &-item {
        flex-direction: column;
        align-items: center;
        margin-top: 62px;
        &-img {
          padding-right: 0;
        }
        &-main {
          h3 {
            margin-top: 12px;
            text-align: center;
          }
          &-subheader {
            text-align: center;
          }
          &-descr {
            width: 100%;
            text-align: left;
          }
        }
        &:nth-child(1) {
          margin-top: 60px;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .promo {
    height: 765px;
    &-nav {
      flex-direction: column;
      align-items: center;
      a {
        img {
          width: 100%;
        }
      }
      &-text {
        margin-right: 0;
        margin-top: 40px;
        font-size: 12px;
        span {
          font-size: 19px;
        }
      }
      &-btn {
        a {
          font-size: 16px;
          margin: 0 auto;
          margin-top: 40px;
        }
        button {
          width: 175px;
          height: 40px;
          font-size: 15px;
          margin-top: 8px;
        }
      }
    }
    &-header {
      font-size: 28px;
      justify-content: center;
      text-align: center;
      margin-top: 65px;
      line-height: 1.2;
    }
    &-subheader {
      margin-top: 22px;
      font-size: 19px;
      line-height: 1.2;
      justify-content: center;
      text-align: center;
    }
    &-icons {
      margin-top: 48px;
      justify-content: center;
      align-items: flex-start;
      &-item {
        margin-right: 20px;
        &-text {
          font-size: 12px;
        }
      }
    }
    &-consult {
      justify-content: center;
      button {
        margin-top: 46px;
        width: 246px;
        height: 40px;
        font-size: 14px;
      }
    }
    &-catalog {
      margin-top: 22px;
      font-size: 14px;
      a {
        font-size: 15px;
      }
    }
  }
  .advantage {
    height: 870px;
    padding: 47px 0 45px 0;
    &-header {
      line-height: 1.2;
      font-size: 26px;
    }
    &-icons {
      margin-top: 42px;
      flex-direction: column;
      align-items: center;
      &-item {
        margin-right: 0;
        margin-top: 18px;
        &:nth-child(1) {
          margin-top: 0;
        }
        &-header {
          margin-top: 21px;
        }
        &-descr {
          margin-top: 16px;
          font-size: 14px;
          line-height: 1.3;
          width: 80%;
        }
      }
    }
  }
  .consult {
    height: 520px;
    padding: 44px 0;
    &-header {
      font-size: 24px;
      text-align: center;
      line-height: 1.3;
    }
    &-descr {
      line-height: 1.1;
      font-size: 17px;
      text-align-last: center;
      margin-top: 38px;
    }
    form {
      align-items: center;
      margin-top: 45px;
      input {
        width: 274px;
      }
      .submit {
        font-size: 14px;
        width: 274px;
      }
    }
  }
  .slider {
    min-height: 340px;
    &-wrapper {
      width: 88%;
      &-item {
        img {
          width: 88%;
        }
      }
    }
  }
  .container {
    width: 95%;
  }
  .catalog {
    min-height: 720px;
    padding-bottom: 63px;
    &-header {
      font-size: 26px;
    }
    &-tabs {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      li {
        width: 140px;
        height: 40px;
        line-height: 39px;
        font-size: 14px;
        transform: none;
        &:nth-child(2) {
          margin: 17px 0;
        }
        div {
          margin: 0;
          width: 100%;
          transform: none;
        }
      }
    }
    &-content {
      &-item {
        width: 275px;
        margin: 0 13px;
        margin-top: 15px;
        padding: 9px 0;
        &:nth-child(2) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(5) {
          margin: 0 13px;
          margin-top: 15px;
        }
        &:nth-child(3n) {
          .change {
            transform: translateX(-4%);
          }
        }
        .change {
          width: 115%;
          .more {
            width: 50%;
            a {
              margin-top: 15px;
            }
            li {
              margin-top: 13px;
              &::before {
                left: -17px;
              }
            }
            hr {
              margin-top: 15px;
            }
            &-active {
              transform: translateX(-63%);
              margin-bottom: 16px;
            }
          }
          .prodWrapper {
            width: 50%;
            img {
              height: 45%;
            }
            h2 {
              margin-top: 13px;
              font-size: 15px;
            }
            &-descr {
              margin-top: 15px;
            }
            a {
              margin-top: 16px;
            }
            hr {
              margin-top: 15px;
            }
            &-active {
              transform: translateX(36%);
            }
          }
        }
        &-footer {
          padding: 0 11px;
          margin-top: 0px;
          button {
            width: 110px;
            height: 34px;
          }
          &-price {
            &-down {
              font-size: 19px;
            }
          }
        }
      }
    }
  }
  .review {
    &-header {
      font-size: 26px;
    }
    &-wrapper {
      &-item {
        flex-direction: column;
        align-items: center;
        margin-top: 62px;
        &:nth-child(1) {
          margin-top: 50px;
        }
        &-img {
          padding-right: 0;
        }
        &-main {
          h3 {
            margin-top: 12px;
            text-align: center;
          }
          &-subheader {
            text-align: center;
          }
          &-descr {
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
  .footer {
    &-info {
      padding: 0 6px;
      width: 72%;
      address {
        font-size: 17px;
      }
      &-tel {
        a {
          font-size: 17px;
        }
      }
      &-icons {
        .round {
          margin-top: 30px;
          margin-right: 22px;
          transition: none;
          &:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
  .overlay {
    .modalConsult {
      &-close {
        font-size: 40px;
        line-height: 19px;
        top: 5px;
        right: 5px;
        &:hover {
          font-size: 40px;
        }
      }
    }
    .modalCatalog {
      &-close {
        font-size: 40px;
        line-height: 19px;
        top: 5px;
        right: 5px;
        &:hover {
          font-size: 40px;
        }
      }
    }
    .modalRequest {
      top: 240px;
      &-close {
        font-size: 40px;
        line-height: 19px;
        top: 5px;
        right: 5px;
        &:hover {
          font-size: 40px;
        }
      }
    }
  }
}
@media (max-width: 410px) {
  .overlay {
    .modalConsult {
      width: 330px;
      &-close {
        font-size: 40px;
        line-height: 23px;
        font-weight: 400;
        width: 26px;
        height: 26px;
        top: 13px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $red;
        border-radius: 7px;
        &:hover {
          font-size: 40px;
        }
      }
    }
    .modalCatalog {
      width: 330px;
      &-close {
        font-size: 40px;
        line-height: 23px;
        font-weight: 400;
        width: 26px;
        height: 26px;
        top: 13px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $red;
        border-radius: 7px;
        &:hover {
          font-size: 40px;
        }
      }
    }
    .modalRequest {
      top: 240px;
      width: 330px;
      &-close {
        font-size: 40px;
        line-height: 23px;
        font-weight: 400;
        width: 26px;
        height: 26px;
        top: 13px;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $red;
        border-radius: 7px;
        &:hover {
          font-size: 40px;
        }
      }
    }
  }
}
