* {
  font-family: "MuseoSansCyrl", sans-serif;
}

@import "_mixin";
@import "_values";

/* Promo */

.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/promo_bg.jpg) center (center/cover) no-repeat;
  &-consult {
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 68px;
      width: 300px;
      height: 50px;
      background-color: $red;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: $white;
      border: none;
      outline: none;
    }
  }
  &-catalog {
    display: flex;
    justify-content: flex-end;
    margin-top: 18px;
    font-size: 16px;
    font-weight: 500;
    color: $white;
    a {
      margin-left: 5px;
      text-decoration: underline;
      font-size: 16px;
      font-weight: 500;
      color: $white;
    }
  }
  &-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 66px;
    &-item {
      margin-right: 70px;
      &:nth-child(3) {
        margin-right: 0;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      &-text {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 500;
        color: $white;
      }
    }
  }
  &-header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 91px;
    align-items: center;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }
  &-subheader {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 17px;
    line-height: 1;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color: $white;
  }
  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-text {
      font-family: MuseoSansCyrl;
      font-size: 12px;
      font-weight: 500;
      color: $white;
      text-align: center;
      span {
        margin-top: 12px;
        font-size: 18px;
        font-weight: 700;
        color: $white;
      }
    }
    &-btn {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      a {
        font-size: 18px;
        font-weight: 700;
        color: $white;
        &:hover {
          text-decoration: none;
        }
      }
      button {
        margin-top: 4px;
        width: 150px;
        height: 30px;
        background-color: $red;
        border-radius: 5px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        color: $white;
      }
    }
    &-link {
      width: 250px;
      img {
        width: 100%;
      }
    }
  }
}
/* Advantage */
.advantage {
  min-height: 470px;
  background: $bg;
  padding: 69px 0 81px 0;
  &-header {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $header;
  }
  &-icons {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 96px;
      &:nth-child(3) {
        margin-right: 0;
      }
      &:nth-child(1) {
        width: 70%;
      }
      &-header {
        margin: 0 auto;
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        color: $header;
      }
      &-descr {
        width: 77%;
        text-align: center;
        margin-top: 29px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: $header;
        span {
          text-decoration: underline;
          color: $red;
        }
      }
    }
  }
}
/* Consult */
.consult {
  min-height: 680px;
  background: url(../img/consult_bg.jpg) center (center/cover) no-repeat;
  padding: 103px 0 92px 0;
  &-header {
    margin: 0 auto;
    text-align: left;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }
  &-descr {
    margin-top: 80px;
    text-align-last: left;
    color: $white;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
  form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    input {
      width: 300px;
      height: 50px;
      padding: 0 43px;
      background-color: $white;
      border-radius: 5px;
      border: none;
      // outline: none;
      font-size: 14px;
      line-height: 66px;
      font-weight: 300;
      color: $input;
      &:nth-child(2) {
        margin: 15px 0;
      }
    }
    label.error {
      border: none;
    }
    .error {
      border: 1px solid $red;
    }
    // .valid{
    //   margin-bottom: 5px;
    // }
    .submit {
      margin-top: 20px;
      width: 300px;
      height: 55px;
      background-color: $red;
      border-radius: 5px;
      line-height: 1.2;
      border: none;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      color: $white;
    }
  }
  #phone-error {
    color: $white;
    margin: 7px 0;
    text-align: center;
  }
  #name-error {
    color: $white;
    margin: 7px 0;
  }
  #email-error {
    color: $white;
    margin: 0;
    margin-top: 7px;
  }
}
/* Slider */
.slider {
  min-height: 744px;
  padding: 82px 0;
  &-wrapper {
    display: block;
    margin: 0 auto;
    width: 750px;
    &-item {
      img {
        margin: 0 auto;
      }
    }
  }
  button {
    border: none;
    background: $white;
  }
  .slick-prev {
    position: absolute;
    left: -67px;
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-next {
    position: absolute;
    right: -67px;
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-dots {
    margin-top: 14px;
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      margin-right: 45px;
    }
    button {
      border: 3px $red solid;
      background: #fff;
      border-radius: 100%;
      outline: none;
      font-size: 4px;
      color: #fff;
      transition: all 0.9s;
      &:active {
        border: 1px;
      }
    }
  }
  /* Tiny-slider */
  // div {
  //   position: relative;
  //   width: 750px;
  // }
  // &-tiny {
  //   &-item {
  //     img {
  //       display: block;
  //       margin: 0 auto;
  //     }
  //   }
  // }
  // &-prev {
  //   position: absolute;
  //   left: -67px;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  // &-next {
  //   position: absolute;
  //   right: -67px;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  /* dot */
  // .tns-nav {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 15px;
  //   button {
  //     width: 27px;
  //     height: 24px;
  //     margin-right: 25px;
  //     border-radius: 100%;
  //     border: 1px whitesmoke solid;
  //     background: $red;
  //     outline: none;
  //   }
  //   .tns-nav-active {
  //     background: pink;
  //   }
  // }
  /* Tiny-slider */
}
.catalog {
  min-height: 800px;
  padding-bottom: 103px;
  &-header {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $header;
  }
  &-tabs {
    display: flex;
    justify-content: center;
    margin-top: 69px;
    list-style: none;
    padding: 0;
    margin-bottom: 39px;
    &-tab {
      width: 220px;
      height: 50px;
      border: 2px solid #d0d0d0;
      font-size: 18px;
      line-height: 48px;
      font-weight: 500;
      text-transform: uppercase;
      color: #6b6b6b;
      text-align: center;
      cursor: pointer;
      transform: skewX(-30deg);
      transition: all 0.7s;
      &:hover {
        box-shadow: 2px 2px 15px #6b6b6b;
      }
      &:nth-child(2) {
        margin: 0 10px;
      }
      div {
        transform: skewX(30deg);
      }
    }
    .active {
      border: none;
      background: $red;
      color: $white;
      transition: all 0.7s;
      &:hover {
        box-shadow: 2px 2px 15px $red;
      }
    }
  }
  &-content {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    &-active {
      display: flex;
      flex-wrap: wrap;
    }
    &-item {
      padding: 20px 19px 27px 20px;
      margin-top: 20px;
      width: 300px;
      min-height: 440px;
      border: 2px solid #e8e8e8;
      &:nth-child(2) {
        margin: 0 20px;
        margin-top: 20px;
      }
      &:nth-child(5) {
        margin: 0 20px;
        margin-top: 20px;
      }
      .change {
        display: flex;
        justify-content: center;
        width: calc(200%);
        .more {
          width: 50%;
          visibility: hidden;
          transform: translateX(0%);
          &-active {
            visibility: visible;
            transform: translateX(-100%);
          }
          ul {
            position: relative;
            margin: 0;
            padding-left: 8px;
            font-family: MuseoSansCyrl;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #555555;
            list-style: none;
          }
          li {
            position: relative;
            margin-top: 21px;
            &::before {
              content: "";
              position: absolute;
              width: 5px;
              height: 5px;
              background-color: $red;
              top: 5px;
              left: -14px;
            }
            &:nth-child(1) {
              margin-top: 0;
            }
          }
          a {
            display: block;
            text-align: center;
            margin-top: 81px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            text-decoration: underline;
            color: $red;
          }
          hr {
            margin: 0;
            margin-top: 19px;
          }
        }
        .prodWrapper {
          width: 50%;
          transform: translateX(-100%);
          visibility: hidden;
          &-active {
            transform: translateX(0%);
            visibility: visible;
          }
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
          }
          h2 {
            margin: 0;
            margin-top: 20px;
            text-align: center;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            color: $header;
          }
          &-descr {
            margin: 0 auto;
            margin-top: 16px;
            font-size: 14px;
            text-align: center;
            line-height: 1.2;
            font-weight: 300;
            color: $header;
          }
          a {
            display: block;
            text-align: center;
            margin-top: 17px;
            font-size: 14px;
            line-height: 1.2;
            font-weight: 500;
            text-decoration: underline;
            color: $red;
          }
          hr {
            margin: 0;
            margin-top: 19px;
          }
        }
      }
      &-footer {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          width: 131px;
          height: 40px;
          background-color: $red;
          border-radius: 5px;
          border: none;
          outline: none;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 500;
          text-transform: uppercase;
          color: $white;
        }
        &-price {
          &-up {
            font-size: 14px;
            line-height: 1.2;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
          }
          &-down {
            margin-top: 9px;
            font-size: 20px;
            line-height: 1.2;
            font-weight: 700;
            color: $header;
          }
        }
      }
    }
  }
}
/* Review */
.review {
  padding-bottom: 71px;
  &-header {
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: $header;
  }
  &-wrapper {
    &-item {
      margin-top: 101px;
      display: flex;
      justify-content: center;
      &:nth-child(1) {
        margin-top: 70px;
      }
      &-img {
        padding-right: 62px;
      }
      &-main {
        h3 {
          margin: 0 auto;
          font-size: 18px;
          line-height: 1.2;
          font-weight: 700;
          color: $header;
        }
        &-subheader {
          margin-top: 10px;
          font-size: 14px;
          line-height: 1.2;
          font-weight: 300;
          color: #646464;
        }
        &-descr {
          margin-top: 19px;
          width: 652px;
          font-size: 16px;
          line-height: 1.2;
          font-weight: 300;
          color: $header;
        }
      }
    }
  }
}
.footer {
  min-height: 630px;
  position: relative;
  &-info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    min-height: 270px;
    background-color: $red;
    address {
      padding-top: 50px;
      font-size: 20px;
      line-height: 1.2;
      font-weight: 500;
      color: $white;
      text-align: center;
      line-height: 20px;
    }
    &-tel {
      margin-top: 36px;
      a {
        display: block;
        text-align: center;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 700;
        color: $white;
        line-height: 20px;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &-icons {
      display: flex;
      justify-content: center;
      .round {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 38px;
        width: 50px;
        height: 50px;
        border: 2px solid $white;
        border-radius: 100%;
        margin-right: 30px;
        transition: all 0.7s;
        &:nth-child(3) {
          margin-right: 0px;
        }
        &:hover {
          box-shadow: 3px 3px 13px white;
        }
        a {
          .fab {
            font-size: 26px;
            color: $white;
          }
        }
      }
    }
  }
}
/* Modal */
.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000000, 0.56);
  // visibility: hidden;
  // &-active {
  //   visibility: visible;
  // }
  .modalConsult {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    // top: 270px;
    top: 280px;
    display: none;
    // margin: 0 auto;
    // margin-top: 80px;
    padding: 38px 0 40px 0;
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    // visibility: hidden;
    // &-active {
    //   visibility: visible;
    // }
    &-close {
      position: absolute;
      text-align: center;
      line-height: 15px;
      font-size: 36px;
      font-weight: 900;
      right: -41px;
      top: 0px;
      width: 21px;
      height: 21px;
      color: $red;
      cursor: pointer;
      &:hover {
        font-size: 41px;
      }
    }
    &-header {
      font-size: 19px;
      line-height: 1.2;
      font-weight: 700;
      color: $header;
      text-align: center;
    }
    &-subheader {
      margin-top: 11px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      color: $header;
      text-align: center;
    }
    form {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 300px;
        height: 50px;
        padding: 0 24px;
        background-color: $white;
        border-radius: 5px;
        border: none;
        // outline: none;
        font-size: 14px;
        line-height: 66px;
        font-weight: 300;
        color: $input;
        &:nth-child(2) {
          margin: 15px 0;
        }
      }
      label.error {
        border: none;
      }
      .error {
        border: 1px solid $red;
      }
      .submit {
        margin-top: 20px;
        width: 300px;
        height: 55px;
        background-color: $red;
        border-radius: 5px;
        line-height: 1.2;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $white;
      }
    }
  }
  /* Modal-catalog */
  .modalCatalog {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    // top: -130px;
    display: none;
    top: 280px;
    // margin: 0 auto;
    // margin-top: 80px;
    padding: 38px 0 40px 0;
    width: 380px;
    min-height: 400px;
    background-color: #f2f2f2;
    // visibility: hidden;
    // &-active {
    //    margin-top: -400px;
    //   visibility: visible;
    // }
    &-close {
      position: absolute;
      text-align: center;
      line-height: 15px;
      font-size: 36px;
      font-weight: 900;
      right: -41px;
      top: 0px;
      width: 21px;
      height: 21px;
      color: $red;
      cursor: pointer;
      &:hover {
        font-size: 41px;
      }
    }
    &-header {
      font-size: 19px;
      line-height: 1.2;
      font-weight: 700;
      color: $header;
      text-align: center;
    }
    &-subheader {
      margin-top: 11px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      color: $header;
      text-align: center;
    }
    form {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 300px;
        height: 50px;
        padding: 0 24px;
        background-color: $white;
        border-radius: 5px;
        // border: none;
        outline: none;
        font-size: 14px;
        line-height: 66px;
        font-weight: 300;
        color: $input;
        &:nth-child(2) {
          margin: 15px 0;
        }
      }
      label.error {
        border: none;
      }
      .error {
        border: 1px solid $red;
      }
      .submit {
        margin-top: 20px;
        width: 300px;
        height: 55px;
        background-color: $red;
        border-radius: 5px;
        line-height: 1.2;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: $white;
      }
    }
  }
  /* Modal-request */
  .modalRequest {
    position: relative;
    display: none;
    top: 280px;
    // margin: 0 auto;
    // margin-top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    // top: -600px;
    padding: 38px 0 43px 0;
    width: 380px;
    min-height: 140px;
    background-color: #f2f2f2;
    // visibility: hidden;
    // &-active {
    //   margin-top: -880px;
    //   visibility: visible;
    // }
    &-close {
      position: absolute;
      text-align: center;
      line-height: 15px;
      font-size: 36px;
      font-weight: 900;
      right: -41px;
      top: 0px;
      width: 21px;
      height: 21px;
      color: $red;
      cursor: pointer;
      &:hover {
        font-size: 41px;
      }
    }
    &-header {
      font-size: 19px;
      line-height: 1.2;
      font-weight: 700;
      color: $header;
      text-align: center;
    }
    &-subheader {
      margin-top: 11px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      color: $header;
      text-align: center;
    }
  }
}
#phone-error {
  color: $red;
  margin: 7px 0;
}
#name-error {
  color: $red;
  margin: 7px 0;
}
#email-error {
  color: $red;
  margin: 0;
  margin-top: 7px;
}
@import "_media";
